<!-- No <html>, <head>, or <body> here -->
<div th:fragment="footer">
    <footer class="footer mt-3">
            <ul class="mx-5 nav justify-content-center">
                <li class="nav-item">
                    <p><a class="nav-link" th:href="@{accessibility}">Accessibility</a></p>
                </li>
                <li class="nav-item">
                    <p><a class="nav-link" th:href="@{legal}">Legal</a></p>
                </li>
                <li class="nav-item">
                    <p><a class="nav-link" th:href="@{aboutme}">About me</a></p>
                </li>
            </ul>
    </footer>
</div>
