<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css"/>
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg mt-2 rounded-pill">
        <h1 class="meso">MESO</h1>
        <div class="collapse navbar-collapse navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <h1><a class="nav-link" th:href="@{'/me/' + ${currentUser.username}}">Profile</a></h1>
                </li>
                <li class="nav-item">
                    <h1><a class="nav-link" href="/search" th:href="@{search}">Search</a></h1>
                </li>
                <li class="nav-item">
                    <h1><a class="nav-link" href="/post" th:href="@{post}">Post</a></h1>
                </li>
            </ul>
        </div>
        <h1>Logout</h1>
    </nav>
</header>
</body>