<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css" />
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
</head>
<body class="flex-column min-vh-100">
<div th:replace="~{fragments/header :: header}"></div>
<div class="flex-grow-1">

    <p>profile!! that belongs to <span th:text="${user.username}"></span></p>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>