<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css" />
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
</head>
<body class="d-flex flex-column min-vh-100 no-footer-gap">
<div class="flex-grow-1">
    <div class="row h-100 no-gutters">
        <div class="col-12 col-md-4 logo-col light-column d-flex flex-column align-items-center justify-content-center">
            <img th:src="@{/images/meso_logo_1.PNG}" alt="Logo"/>
            <p>Already have an account? <u><a class="underlined-link" th:href="@{/login/}">Login here</a></u></p>
        </div>
        <div class="col-12 col-md-8 input-col align-items-center justify-content-center">
            <h3 class="text-center mt-5">Sign Up</h3>

            <form th:action="@{/signup}" th:object="${user}" method="post" class="pl-5 pr-5 pb-4">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <div class="form-group">
                    <label for="name"></label>
                    <input type="text" id="name" th:field="*{name}" class="form-control rounded-pill" placeholder="Name" required/>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" id="username" th:field="*{username}" class="form-control rounded-pill" placeholder="Username" required/>
                    <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="birthday"></label>
                    <input type="date" id="birthday" th:field="*{birthday}" class="form-control rounded-pill" placeholder="Date of Birth" required/>
                    <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="password"></label>
                    <input type="password" id="password" th:field="*{password}" class="form-control rounded-pill" placeholder="Password" required/>

                        <label for="showPassword"></label>
                        <input type="checkbox" id="showPassword" onclick="showPassword()">Show Password
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword"></label>
                    <input type="password" id="confirmPassword" th:field="*{confirmPassword}" class="form-control rounded-pill"  placeholder="Confirm Password" required/>

<!--                TODO:    js needs fixing-->
                    <label for="showConfirmPassword"></label>
                    <input type="checkbox" id="showConfirmPassword" onclick="showPassword()">Show Password
                    <div th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{password}" class="text-danger"></div>
                </div>

                <button type="submit" class="btn btn-primary px-5">Sign Up</button>
            </form>

            <!--  error message display  -->
            <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer :: footer}"></footer>
<script src="/js/scripts.js"></script>
</body>
</html>