<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Post</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css" />
    <link href='https://fonts.googleapis.com/css?family=Londrina Solid' rel='stylesheet'>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header :: header}"></div>
<div class="view-post light-column rounded-xl mt-3 flex-grow-1">
    <img th:src="@{/uploads/posts/{uuid}.jpg( uuid=${imagePath} )}" alt="Post Image" class="post-image" />

    <div class="post-comments rounded-xl flex-grow-1">
<!--        <div class="username-and-date"></div>-->
        <p><a th:href="@{'/me/' + ${user.username}}" th:text="'@' + ${user.username}"></a></p>
        <p th:text="${post.datePosted}">
        <p th:text="${post.description}">
        <hr class="mt-0 mb-0">
        <div class="scrollable-comments mt-0">
            <p th:if="${commentsList.isEmpty()}">There are no comments</p>
            <div th:unless="${commentsList.isEmpty()}">
                <div th:each="comment, i: ${commentsList}">
                    <p>
                        <a th:href="@{'/me/' + ${comment.commenter.username}}" th:text="'@' + ${comment.commenter.username} "></a>
                        <span th:text="${comment.comment}"></span>
                    </p>
                </div>
            </div>
        </div>

        <form th:action="@{'/post/' + ${post.image}}" th:object="${comment}" method="post" class="mt-0">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>


            <label for="comment"></label>
            <div class="input-group rounded-pill overflow-hidden">
                <input type="text" th:field="*{comment}" id="comment" placeholder="Add a comment" class="form-control">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">&rarr;</button>
                </div>
            </div>

            <div th:if="${#fields.hasErrors('comment')}" th:errors="${comment}" class="text-danger"></div>
        </form>

<!--        might get rid of??-->
        <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>